<% include ../partials/header.ejs %>

<h2>Welcome to YouLearn</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate voluptate distinctio similique, asperiores qui reprehenderit eligendi neque. Tenetur maiores rem amet eius, alias culpa, fugit error quis quidem itaque ex.</p>
  
<% include ../partials/footer.ejs %>